@layer components {
  .mapboxgl-ctrl-geocoder {
    @apply m-0 w-full max-w-full;
  }

  .marker-after-polygon {
    border-color: transparent;
    border-top-color: #2C3B4F;
  }

  .marker-after-polygon.active {
    border-top-color: #F06AA9;
  }
}


